
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'purchase.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'purchase.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'purchase.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'purchase.reference' | translate}}" autofocus  id="1" [ngModel]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'purchase.purchaseDate' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'purchase.purchaseDate' | translate}}"  [ngModel]="item.purchaseDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'purchase.image' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'purchase.image' | translate}}" autofocus  id="3" [ngModel]="item.image">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'purchase.total' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'purchase.total' | translate}}" [ngModel]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'purchase.description' | translate}}</label>
                        <textarea id="5" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'purchase.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'purchase.client' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'purchase.client' | translate}}" autofocus  id="6" [ngModel]="item.client?.fullName">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'purchase.purchaseState' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'purchase.purchaseState' | translate}}" autofocus  id="7" [ngModel]="item.purchaseState?.reference">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'purchase.purchaseItems' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.purchaseItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.product?.reference}}</td>
                                        <td>{{p.price}}</td>
                                        <td>{{p.quantity}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



