        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'client.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'client.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'client.fullName' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'client.fullName' | translate}}" id="1" [(ngModel)]="item.fullName"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validClientFullName}"  />
                                                    <small class='p-error' *ngIf='!validClientFullName'>FullName est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'client.email' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'client.email' | translate}}" id="2" [(ngModel)]="item.email"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validClientEmail}"  />
                                                    <small class='p-error' *ngIf='!validClientEmail'>Email est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="3">{{'client.clientCategory' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="clientCategorys" [(ngModel)]="item.clientCategory" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="reference" placeholder="{{'client.clientCategory' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
